<nav class="bottom-navbar d-flex justify-content-around align-items-center shadow-lg">

    <a routerLink="/showroom" routerLinkActive="active-link" class="nav-item">
        <i class="fas fa-motorcycle"></i>
        <span>المعرض</span>
    </a>

    <a routerLink="/about-us" routerLinkActive="active-link" class="nav-item">
        <i class="fas fa-users"></i>
        <span>حولنا</span>
    </a>

    <a routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" class="nav-item">
        <i class="fas fa-home"></i>
        <span>الرئيسية</span>
    </a>

    <a routerLink="/contact-us" routerLinkActive="active-link" class="nav-item">
        <i class="fas fa-envelope"></i>
        <span>تواصل معنا</span>
    </a>

    <a routerLink="/events" routerLinkActive="active-link" class="nav-item">
        <i class="fas fa-calendar-alt"></i>
        <span>الفعاليات</span>
    </a>
</nav>