
.navbar-nav {
    align-items: center;
}
.brandcaler {
    font-size: 24px;
    font-weight: 700;
    color: #ff6b00;
}
.nav-link {
    position: relative;
    font-weight: 600;
    color: #333;
    padding: 10px 15px;
    transition: 0.3s;
}

.nav-link:hover {
    color: #ff6b00;
}

.nav-animated::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0%;
    height: 3px;
    background: #ff6b00;
    transition: 0.3s;
    transform: translateX(-50%);
}

.nav-animated:hover::after {
    width: 70%;
}

.active-link {
    color: #ff6b00 !important;
}

.active-link::after {
    width: 70% !important;
}

@media (max-width: 991px) {

    .navbar-nav {
        width: 100% !important;
        gap: 10px;
        margin-top: 15px;
    }

    .nav-link {
        padding: 12px;
        font-size: 18px;
    }

    .nav-animated::after {
        display: none;
    }
}