<nav class="navbar navbar-expand-lg navbar-light mb-4 sticky-top shadow-sm">
    <div class="container">

        <!-- Logo -->
        <a class="brandcaler navbar-brand fw-bold fs-4" routerLink="/Home">
            MTA العربي
        </a>

        <!-- Toggle -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse justify-content-center" id="navbarContent">

            <ul class="navbar-nav w-75 d-flex justify-content-between text-center">

                <li class="nav-item">
                    <a routerLink="/Home" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
                        class="nav-link nav-animated" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                        الرئيسية
                    </a>
                </li>

                <li class="nav-item">
                    <a routerLink="/Showroom" routerLinkActive="active-link" class="nav-link nav-animated"
                        data-bs-toggle="collapse" data-bs-target="#navbarContent">
                        المعرض
                    </a>
                </li>

                <li class="nav-item">
                    <a routerLink="/About-Us" routerLinkActive="active-link" class="nav-link nav-animated"
                        data-bs-toggle="collapse" data-bs-target="#navbarContent">
                        حولنا
                    </a>
                </li>

                <li class="nav-item">
                    <a routerLink="/contact-us" routerLinkActive="active-link" class="nav-link nav-animated"
                        data-bs-toggle="collapse" data-bs-target="#navbarContent">
                        تواصل معنا
                    </a>
                </li>

                <li class="nav-item">
                    <a routerLink="/Events" routerLinkActive="active-link" class="nav-link nav-animated"
                        data-bs-toggle="collapse" data-bs-target="#navbarContent">
                        الفعاليات
                    </a>
            </ul>

        </div>
    </div>
</nav>