.details-page {
    font-family: 'Cairo', sans-serif;
}

.motor-img {
    height: 600px;
    object-fit: cover;
}

.motor-info-card {
    background: #fff;
    border: 1px solid #eee;
    height: 600px;
}

.price {
    color: #ff6b00;
    font-weight: bold;
}

.specs {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.spec-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background: #f8f9fa;
    border-radius: 10px;
}

.spec-item span {
    color: #777;
}

.spec-item strong {
    color: #222;
}

.description p {
    color: #555;
    line-height: 1.7;
}

.btn-main {
    background: #ff6b00;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
}

.btn-main:hover {
    background: #e65c00;
    color: white;
}
