<section class="notfound-section d-flex flex-column justify-content-center align-items-center text-center py-5">
    <div class="container position-relative">

        <!-- Animated 404 -->
        <h1 class="display-1 fw-bold mb-2">
            <span class="num">4</span>
            <span class="num">0</span>
            <span class="num">4</span>
        </h1>

        <h2 class="fw-bold mb-2 small-text">الصفحة غير موجودة</h2>
        <p class="text-muted mb-3 small-text">
            الصفحة التي تبحث عنها غير موجودة أو قد تم نقلها.
        </p>

        <a routerLink="/home" class="btn btn-orange btn-lg px-4 shadow-lg">العودة للصفحة الرئيسية</a>

        
    </div>
</section>